@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

.keypad {
    --level0: #121212;
    --level1: #1c1c1c;
    --level2: #262626;
    --level3: #303030;
    --level4: #3a3a3a;
    --level5: #434343;
    --red: rgb(176, 1, 1);
    --green: rgb(27, 108, 27);
    --orange: rgb(230, 160, 29);
    --white: rgba(255, 255, 255, 0.9);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.key {
    display: inline-block;
    background-color: var(--level4);
    width: 100%;
    min-width: 1em;
    padding: 0.5em 0.2em;
    margin: 0.1em;
    border: none;
    border-radius: 0.5em;
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

.key:hover {
    background-color: var(--level5);
}

.correctPosition {
    background-color: var(--green);
}

.correctPosition:hover {
    background-color: rgb(50, 142, 50);
}

.correctLetter {
    background-color: var(--orange);
}

.correctLetter:hover {
    background-color: rgb(238, 174, 53);
}

.false {
    background-color: var(--level0);
    outline: 1px solid var(--level5);
}

.false:hover {
    background-color: var(--level0);
}

.button {
    background-color: var(--level4);
    width: 100%;
    max-width: 7em;
    margin: 0.1em;
    border-radius: 1em;
    padding: 0.5em;
    border-style: none;
    font-family: "Exo 2", sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.9);
}

.button:hover {
    background-color: var(--level5);
}

.button:disabled {
    opacity: 0.3;
}

.button:disabled:hover {
    background-color: var(--level4);
}

@media (min-width: 800px) {
    .keypad {
        margin-right: 1em;
    }
    .key {
        min-width: 1.5em;
        width: 3.5vw;
        height: 4em;
    }
}

.playAgain {
    background-color: var(--level3);
    width: 50%;
    padding: 1em;
    margin: 2em auto 0.5em auto;
    border: none;
    border-radius: 1.5em;
    font-family: "Exo 2", sans-serif;
    color: var(--white);
    transition: all 0.5s ease;
}

.playAgain:hover {
    background-color: var(--level5);
}

.playAgain:disabled {
    opacity: 0.3;
}

.playAgain:disabled:hover {
    background-color: var(--level3);
}
