.scores {
    --level0: #121212;
    --level1: #1c1c1c;
    --level2: #262626;
    --level3: #303030;
    --level4: #3a3a3a;
    --level5: #434343;
    --red: rgb(176, 1, 1);
    --green: rgb(27, 108, 27);
    --orange: rgb(230, 160, 29);
    --white: rgba(255, 255, 255, 0.9);

    background-color: var(--level3);
    position: absolute;
    width: 90%;
    height: 90%;
    padding: 1em;
    border: 2px solid var(--level4);
    box-shadow: 2px 8px 10px 5px var(--level0);
    font-family: "Exo 2", sans-serif;
    color: var(--white);
    animation-name: appear;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.backDrop {
    background-color: var(--level3);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header {
    padding-bottom: 0.5em;
    border-bottom: 2px solid var(--orange);
}

.barChart {
    margin: 2em 1em 1em 1.5em;
}

.bar {
    background-color: var(--level5);
    margin-bottom: 1em;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.number {
    margin-left: -1.3em;
}

.guess {
    margin-right: 5px;
    color: var(--orange);
}

.stats {
    margin-top: 3em;
    display: grid;
    justify-content: center;
}

.statEntry {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: 0.2em;
    border-bottom: solid 1px var(--orange);
}

.timerShareSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 1em;
    top: 1.6em;
    width: 11em;
}

.shareButton {
    background-color: var(--green);
    border: none;
    color: var(--white);
    font-size: 1.5em;
    border-radius: 5px;
    padding: 0.2em;
    box-shadow: 2px 2px 2px 3px var(--level1);
}

.shareButton:hover {
    color: var(--level0);
    transition: all ease 0.5s;
}

.timer {
    margin-top: 0.7em;
    border-top: solid 1px var(--level5);
    padding-top: 0.3em;
}

@media (min-width: 800px) {
    .scores {
        width: 90%;
        height: 90%;
        padding: 2em;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .stats {
        margin-top: 1.7em;
    }
    .statEntry {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--level4);
        height: 50%;
        padding: 1em 2em;
        margin-right: 1em;
        font-size: 1em;
        border: none;
        box-shadow: 2px 2px 2px 2px var(--level2);
    }
    .timerShareSection {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        top: 3em;
        width: 40%;
    }
    .timer {
        margin: 0;
        width: 14em;
        border-left: solid 2px var(--level5);
        border-top: none;
        padding: 1em;
    }
    .shareButton {
        width: 4em;
        margin-right: 1em;
    }
}
