.scores {
    --level0: #121212;
    --level1: #1c1c1c;
    --level2: #262626;
    --level3: #303030;
    --level4: #3a3a3a;
    --level5: #434343;
    --red: rgb(176, 1, 1);
    --green: rgb(27, 108, 27);
    --orange: rgb(230, 160, 29);
    --white: rgba(255, 255, 255, 0.9);

    background-color: var(--level3);
    position: absolute;
    width: 90%;
    height: 70%;
    padding: 1em;
    border: 2px solid var(--level4);
    box-shadow: 2px 8px 10px 5px var(--level0);
    font-family: "Exo 2", sans-serif;
    color: var(--white);
}

.backDrop {
    background-color: var(--level3);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header {
    padding-bottom: 0.5em;
    border-bottom: 2px solid var(--orange);
}

.barChart {
    margin: 2em 1em 1em 1.5em;
}

.bar {
    background-color: var(--level5);
    margin-bottom: 1em;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.number {
    margin-left: -1.3em;
}

.guess {
    margin-right: 5px;
    color: var(--orange);
}

.stats {
    margin-top: 2em;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
}

.statEntry {
    margin-bottom: 0.5em;
    padding-bottom: 5px;
    border-bottom: solid 1px var(--orange);
}
