.timer {
    --level0: #121212;
    --level1: #1c1c1c;
    --level2: #262626;
    --level3: #303030;
    --level4: #3a3a3a;
    --level5: #434343;

    display: flex;
    align-items: center;
    font-size: 1em;
    position: absolute;
    top: 3.8em;
    right: 0.7em;
    width: 11em;
    height: 3em;
    padding-left: 0.5em;
}

@media (min-width: 800px) {
    .timer {
        font-size: 1.2em;
        right: 1.4em;
    }
}
