.guesses {
    margin: 2em 1em;
    /*background-color: #6a5d7b;*/
}

.row {
    display: flex;
    justify-content: center;
}

.letter {
    display: inline-block;
    font-size: clamp(2em, 15vw, 5em);
    min-width: 1em;
    background-color: grey;
    color: white;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.correctLetter {
    background-color: orange;
}

.correctPosition {
    background-color: green;
}

.false {
    background-color: black;
}

.empty {
    color: grey;
}
